@import '../../helpers/variables';
@import '../../helpers/mixins';

.container-footer {
  width: 100vw;
  background-color: $white;
  left: -8px;
  right: -8px;
  bottom: -8px;
  position: relative;
  padding: 24px 20px;
  box-sizing: border-box;
  border-top: 3px solid $blue;

  @include desktop {
    width: calc(100vw - 20px);
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1400px;
    margin: 0 auto;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .footer-item .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;

    .nav-item {
      padding: 8px 0;
    }

    .nav-link {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-logo a {
    color: $blue;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

    span {
      color: $pink;
    }
  }
}
