<footer class="container-footer">
  <div class="footer-wrapper">
    <div class="footer-item footer-logo">
      <a routerLink="/home">learnin<span>GO</span></a>
    </div>
    <div class="footer-item">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/worksheet">Zadania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Sklep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profil</a>
        </li>
      </ul>
    </div>
    <div class="footer-item">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cookie-policy">Polityka Cookie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy-policy">Polityka prywatności</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
