@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.exercise-preview-wrapper {
  width: 100%;
}

.presentation-editor {
  &-component {
    display: flex;
    min-height: 80vh;
    height: 100%;
    background: $white;

    .exercise-editor-inputs {
      width: 100%;

      @include small-tablet-and-desktop {
        display: flex;
        align-items: baseline;
        justify-content: center;

        .editor-form {
          flex: 1 0 33.3%;
          max-width: 33.3%;

          &:nth-of-type(2) {
            padding: 0 20px;
          }
        }
      }
    }

    .add-answer-class,
    .add-variable-class {
      width: 100%;

      .hidden {
        display: none;
      }

      @include small-tablet-and-desktop {
        .add-answer-items {
          display: flex;
          flex-wrap: wrap;

          .add-answer-wrapper,
          .add-variable-wrapper {
            position: relative;;
            border: 1px solid $orange;
            flex: 1 0 33.3%;
            max-width: 33.3%;
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }

      .add-answer-wrapper,
      .add-variable-wrapper {
        padding: 8px;
        border: 1px solid $orange;

        .presentation-action-delete {
          background: $pink !important;
        }
      }

      .add-answer-wrapper {
        margin-bottom: 12px;
      }

      .add-variable-wrapper {
        margin-top: 12px;
      }

      .buttons-wrapper .button-primary {
        background: $orange;
      }
    }  
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .editor {
      &-form {
        width: 100%;

        textarea {
          min-height: 75px;
        }
      }
    }

    .path {
      width: 100%;
    }

    .buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &.add-variable {
        justify-content: center;
        position: relative;

        .button-primary {
          @include small-tablet-and-desktop {
            max-width: calc(33.3% - 32px);
          }
        }
      }

      &.bottom-wrapper {
        @include small-tablet-and-desktop {
          justify-content: flex-end;
          margin-top: 32px;

          .button-primary {
            width: auto;

            &:nth-of-type(1) {
              margin-right: 20px;
            }
          }
        }
      }

      .button-primary {
        background: $blue;
        color: $white;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        margin-top: 16px;
        cursor: pointer;
        width: 100%;
      }
    }
  }

  &-view {
    width: 60vw;

    .welcome-window {
      @include box-shadow;
      min-height: 350px;
      margin: 32px;
      box-sizing: border-box;
      overflow: hidden;

      @include phone-and-tablet {
        width: 100%;
        height: 100%;

        &.left {
          order: 1
        }
      }

      .wrapper-content {
        display: flex;
        justify-content: space-around;
      }

      .description,
      .image,
      .quiz,
      .interaction {
        padding: 16px;
        max-width: 50%;
        display: flex;
        justify-content: center;
      }

      .description {
        overflow-wrap: break-word;
      }

      .interaction {
        flex-direction: column;
      }

      .image,
      .interaction {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
          width: 100%;
          max-width: 50%;
          object-fit: contain;
        }
      }

      .iImages img {
        height: auto;
        padding: 8px;
        box-sizing: border-box;
      }

      .quiz {
        flex-direction: column;

        .qAButtons {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;

          button {
            background: $pink;
            margin-bottom: 8px;
            color: $white;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .controls {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .welcome-window-content {
        padding: 24px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: unset;
        height: 100%;
        min-height: 300px;
        justify-content: space-evenly;
      }

      .welcome-title-bar {
        background: $light-blue;
        height: 30px;
        position: relative;

        .icon {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);

          &.green {
            background: $green;
            right: 55px;
          }

          &.yellow {
            background: $orange;
            right: 35px;
          }

          &.red {
            background: $pink;
            right: 15px;
          }
        }
      }
    }
  }
}

.help-icon {
  color: $blue;
  position: absolute;
  right: 5px;
}

.variable-name {
  margin-top: 25px;
}

.variable-type {
  display: none;
}
