<div class="presentation-editor-component">
  <mat-card class="presentation-editor-form">
    <h2>Podgląd</h2>
    <app-exercise class="exercise-preview-wrapper" [exercise]="previewExercise"></app-exercise>
    <h2>Edytor zadań</h2>
    <div class="exercise-editor-inputs">
      <mat-form-field class="editor-form">
        <mat-label>Wybierz dział</mat-label>
        <mat-select [(ngModel)]="exercise.section">
          <mat-optgroup *ngFor="let grade of grades" [label]="'Klasa ' + grade.id">
            <mat-option *ngFor="let section of grade.sections" [value]="section.name">
              {{section.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="editor-form">
        <input matInput [(ngModel)]="exercise.name" type="text"
          placeholder="Wpisz nazwę zadania" />
      </mat-form-field>
      <mat-form-field class="editor-form">
        <textarea matInput [(ngModel)]="exercise.description" 
          placeholder="Wpisz treść zadania"></textarea>
        <a class="help-icon" href="/help#ex-editor_math" target="_blank" title="Dowiedz się więcej o formatowaniu treści">
          <mat-icon>help_outline</mat-icon>
        </a>
      </mat-form-field>
    </div>
    <div class="add-answer-class">
      <h2 [className]="exercise.answers.length > 0 ? 'visible' : 'hidden'">Dodawanie odpowiedzi</h2>
      <div class="add-answer-items">
        <div class="add-answer-wrapper" *ngFor="let answer of exercise.answers; let i = index">
          <mat-form-field class="editor-form">
            <textarea matInput [(ngModel)]="answer.description" 
            placeholder="Wpisz treść odpowiedzi"></textarea>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="answer.correct">Poprawna?</mat-checkbox>
          <div class="buttons-wrapper">
            <button
            mat-raised-button
            (click)="deleteAnswer(i)"
            class="presentation-action presentation-action-delete primary button-primary"
          >
            <i class="material-icons">delete</i>
            Usuń
          </button>
          </div>
        </div>
      </div>
      <div class="buttons-wrapper add-variable">
        <button (click)="addAnswer()" mat-raised-button class="primary button-primary ">Dodaj odpowiedź</button>
      </div>
    </div>
    <div class="add-variable-class">
      <h2 [className]="exercise.variables.length > 0 ? 'visible' : 'hidden'">Dodawanie zmiennych</h2>
      <div class="add-answer-items">
        <div class="add-variable-wrapper" *ngFor="let variable of exercise.variables; let i = index">
          <a class="help-icon help-icon--vars" href="help#ex-editor_vars" target="_blank" title="Dowiedz się więcej o tworzeniu zmiennych">
            <mat-icon>help_outline</mat-icon>
          </a>
          <mat-form-field class="editor-form variable-name">
            <input matInput [(ngModel)]="variable.name" type="text"
            placeholder="Wpisz nazwę zmiennej" />
          </mat-form-field>
          <mat-form-field class="editor-form variable-type">
            <mat-label>Typ</mat-label>
            <select disabled matNativeControl [(ngModel)]="variable.type">
              <option value="number">liczba</option>
              <option value="string">tekst</option>
            </select>
          </mat-form-field>
          <mat-form-field *ngIf="variable.type === 'number'" class="editor-form">
            <input matInput [(ngModel)]="variable.exp" type="text"
              placeholder="Wpisz równanie zmiennej" />
          </mat-form-field>
          <div class="buttons-wrapper">
            <button
            mat-raised-button
            (click)="deleteVariable(i)"
            class="presentation-action presentation-action-delete primary button-primary"
            >
              <i class="material-icons">delete</i>
              Usuń
            </button>
          </div>
        </div>
      </div>
      <div class="buttons-wrapper add-variable">
        <button (click)="addVariable()" mat-raised-button class="primary button-primary">Dodaj zmienną</button>
      </div>
    </div>
    <div class="buttons-wrapper bottom-wrapper">  
      <button (click)="saveExercise()" mat-raised-button class="primary button-primary">Wyślij</button>
      <button (click)="createExercise()" mat-raised-button class="primary button-primary">Zakończ i wyślij</button>
    </div>
  </mat-card>
</div>
