@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.sidebar-base {
  width: 20%;
  height: 100%;
  top: 32px;
  bottom: 32px;
  display: none;
  padding: 22px 24px;
  position: sticky;
  top: 24px;

  @include desktop {
    display: block;
  }

  .title-item {
    color: $blue;
  }

  .items {
    list-style: none;
    padding: 0;

    .item {
      padding: 16px 0;

      .link {
        text-decoration: none;
        color: $black;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.card-container {
  margin-bottom: 32px;
  border: 1px solid $blue;
  border-radius: 6px;
}

.container-base {
  width: 100%;

  @include desktop {
    width: 100%;
    padding: 0 10px;
    padding-left: 32px;
    margin: 0 !important;

    >div:last-of-type {
      margin-bottom: 0;
    }
  }
}

.container-main-page {
  background-color: inherit;

  @include desktop {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.container-wrapper {
  max-width: 100%;
  display: flex;
  background: $white;
  padding: 22px 24px;
  overflow: unset;
}

.classes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  list-style: none;
  padding: 48px 32px;
  max-width: 75%;
  margin: 0 auto;

  @include phone-and-tablet {
    padding: 12px 8px;
    margin: 0;
    max-width: 100%;
  }

  @include tablet-and-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .classes-link {
    @include box-shadow-light;
    text-decoration: none;
    font-size: 20px;
    color: $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;

    &:hover {
      background: $white;
    }
  }
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-bottom: 32px;

  @include tablet-and-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .button-primary {
    @include button-primary;
    color: $white;

    &[data-type='trening'] {
      background: $blue;
    }

    &[data-type='test'] {
      background: $pink;
    }

    &[data-type='rank-test'] {
      background: $orange;
    }
  }
}
