<div class="container-main-page">
  <mat-drawer-container class="container-wrapper">
    <mat-drawer-content class="container-base">
      <div *ngFor="let grade of grades" class="card-container" id="class-{{grade.id}}">
        <app-card-base>
          <span header>Klasa {{grade.id}}</span>
          <div body class="classes-wrapper">
            <div class="classes-list">
              <a class="classes-link" [routerLink]="['/grade', grade.id, 'section', section._id]"
                *ngFor="let section of grade.sections">{{section.name}}</a>
            </div>
          </div>
        </app-card-base>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
