<div class="presentation-container" [class.isOwned]="isOwned === true">
  <div class="presentation-action-wrapper" *ngIf="!isOwned">
    <ng-container>
      <button mat-raised-button (click)="rate.emit(true)" class="presentation-action presentation-action-rate-up" [class.active]="upActive === true"
        [appEventTracker]='{"category":"PresentationsCard","action":"RateUp"+presentation.name}'>
        <i class="material-icons">
          thumb_up
        </i>
        {{ up }}
      </button>
      <button mat-raised-button (click)="rate.emit(false)" class="presentation-action presentation-action-rate-down"
        [appEventTracker]='{"category":"PresentationsCard","action":"RateDown"+presentation.name}' [class.active]="downActive === true">
        <i class="material-icons">
          thumb_down
        </i>
        {{ down }}
      </button>
    </ng-container>
  </div>
  <div class="presentation-data-wrapper">
    <a [routerLink]="['/presentation', presentation._id]" class="presentation-title"
    [appEventTracker]='{"category":"PresentationsCard","action":"See"+presentation.name}'>
      {{ presentation.name }}
    </a>
    <div *ngIf="presentation.creator?.username" class="presentation-author">
      <span>Autor: </span>
      {{ presentation.creator.username }}
    </div>
  </div>
  <div class="presentation-action-wrapper" *ngIf="isOwned">
    <ng-container>
      <button mat-raised-button (click)="delete.emit(presentation._id)" class="presentation-action presentation-action-delete"
        [appEventTracker]='{"category":"PresentationsCard","action":"Delete"}'>
        <i class="material-icons">
          delete
        </i>
        Usuń
      </button>
      <button mat-raised-button (click)="edit.emit(presentation._id)" class="presentation-action presentation-action-edit"
        [appEventTracker]='{"category":"PresentationsCard","action":"Edit"}'>
        <i class="material-icons">
          edit
        </i>
        Edytuj
      </button>
    </ng-container>
  </div>
  <mat-icon class="done-icon" *ngIf="presentation.done">done</mat-icon>
</div>
