@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.presentation {
  &-container {
    display: flex;
    padding: 24px 22px;
    border-bottom: 2px solid $blue;

    &.isOwned {
      justify-content: space-between;

      @include tablet-and-desktop {
        padding-left: 212px;
      }

      .presentation-action-wrapper {
        margin: 0;
        margin-top: 12px;
        * {
          box-sizing: border-box;
        }
      }
    }

    @include phone {
      flex-direction: row;
    }

    @include small-phone {
      flex-direction: column;
    }
  }

  &-action-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-right: 12px;

    @include small-phone {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  &-data-wrapper {
    text-align: left;
  }

  &-title {
    text-decoration: none;
    color: $black;
    font-size: 1.4em;
    font-weight: bold;
  }

  &-author {
    span {
      font-family: $secondary-font;
      color: $grey;
      font-weight: bold;
    }
  }

  &-rate-wrapper {
    display: flex;
    margin-right: 24px;

    @include phone {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  &-action {
    cursor: pointer;
    color: $white;
    font-size: 1.2em;
    margin: 0 8px;
    box-sizing: border-box;

    @include phone {
      margin: 0;
      margin-right: 8px;
    }
    
    &.active {
      border: 3px solid $orange;
    }

    &-edit {
      background: $orange;
    }

    &-delete {
      background: $g-red;
    }

    &-rate-up {
      background: $blue;
    }

    &-rate-down {
      background: $pink;
    }
  }
}

.done-icon {
  position: absolute;
  left: 0;
  top: 30px;
  border-radius: 50%;
  background-color: $niceGreen;
  color: white;
}
