@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.container-content {
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
  background: $white;
  padding: 44px 160px;

  @include phone {
    padding: 24px 16px;
  }

  li {
    padding: 12px 0;
  }
}

table {
  * {
    text-align: center;
    padding: 5px 10px;
  }
}
