<div class="container-content">
  <h1>Przewodnik po LearninGO</h1>
  <h2 id="ex-editor">Edytor zadań</h2>
  <h3 id="ex-editor_math">Wyrażenia matematyczne</h3>
  <p>
    Równania matematyczne oraz symbole możesz wstawić do treści zadania korzystając ze składni LaTeX.<br>
    Wyrażenia należy owinąć w sumbole: <code>\[ \]</code><br>
    Przykład:<br>
    <code>\[ {{ equation }} \]</code><br>
    <ng-katex [equation]="equation"></ng-katex><br>
    <a href="http://www.latex-kurs.x25.pl/paper/wyrazenia_matematyczne">Więcej o składni</a>
  </p>
  <h3 id="ex-editor_vars">Zmienne</h3>
  <p>
    Aby zadania losowały dane dla każdego użytkownika można użyć zmiennych.<br>
    Wystarczy wstawić zmienną zaczynającą się znakiem dolara do treści zadania lub odpowiedzi.<br>
  </p>
    Wbudowane funkcje:
    <ul>
      <li><code>$randomInt(x, y)</code> - losuje liczbę całkowitą z podanego przedziału [x, y]</li>
      <li><code>$randomFloat(x, y)</code> - losuje liczbę rzeczywistą z podanego przedziału [x, y)</li>
      <li><code>$ceil(x, y = 0)</code> - zaokrągla w górę liczbę x do y miejsc po przecinku</li>
      <li><code>$floor(x, y = 0)</code> - zaokrągla w dół liczbę x do y miejsc po przecinku</li>
      <li><code>$round(x, y = 0)</code> - zaokrągla liczbę x do y miejsc po przecinku</li>
    </ul>
    Zaday tworzenia zmiennych:
    <ul>
      <li>Zmienne muszą zaczynać się znakiem dolara - $</li>
      <li>Nazwa jednej zmiennej nie może zawierać się w drugiej - <code>$lis</code>
        i <code>$list</code> są niedozwolone.
      </li>
    </ul>
    Przykład zmiennych:
    <table>
      <thead>
        <tr>
          <th>nazwa</th>
          <th>równanie</th>
          <th>poprawna?</th>
          <th>powód</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>kaczki</code>
          </td>
          <td>
            <code>$randomInt(3, 5) + 4</code>
          </td>
          <td>
            <mat-icon>close</mat-icon>
          </td>
          <td>
            Zmienna musi zaczynać się od $.
          </td>
        </tr>
        <tr>
          <td>
            <code>$poziom_wody</code>
          </td>
          <td>
            <code>$ randomInt(3, 5)</code>
          </td>
          <td>
            <mat-icon>close</mat-icon>
          </td>
          <td>
            Po znaku $ nie może występować spacja.
          </td>
        </tr>
        <tr>
          <td>
            <code>$ilosc_ksiazek</code>
          </td>
          <td>
            <code>(3 + 4</code>
          </td>
          <td>
            <mat-icon>close</mat-icon>
          </td>
          <td>
            Niedomknięty nawias.
          </td>
        </tr>
        <tr>
          <td>
            <code>$ilosc_ksiazek</code>
          </td>
          <td>
            <code>$randomInt(3, 5) + 4</code>
          </td>
          <td>
            <mat-icon>done</mat-icon>
          </td>
        </tr>
        <tr>
          <td>
            <code>$liczba_krzesel</code>
          </td>
          <td>
            <code>$randomInt(3, 5) * 100</code>
          </td>
          <td>
            <mat-icon>done</mat-icon>
          </td>
        </tr>
        <tr>
          <td>
            <code>$wysokosc_opadow</code>
          </td>
          <td>
            <code>$floor($randomFloat(10, 100), 2)</code>
          </td>
          <td>
            <mat-icon>done</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
</div>
