@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.functional {
  @include button-primary;
  border: 0;
  background: $pink;
  color: $white;

  &.canceled,
  &.active {
    background: $blue;
  }
}