<div class="container-content">
  <h1>
    §3. Pliki cookies
  </h1>
  <ol>
    <li>
      Witryna <a href="#">learninGO</a> używa cookies. Są to niewielkie pliki tekstowe wysyłane przez serwer www i przechowywane przez oprogramowanie komputera przeglądarki. Kiedy przeglądarka ponownie połączy się ze stroną, witryna rozpoznaje rodzaj urządzenia, z którego łączy się użytkownik. Parametry pozwalają na odczytanie informacji w nich zawartych jedynie serwerowi, który je utworzył. Cookies ułatwiają więc korzystanie z wcześniej odwiedzonych witryn.
  
      Gromadzone informacje dotyczą adresu IP, typu wykorzystywanej przeglądarki, języka, rodzaju systemu operacyjnego, dostawcy usług internetowych, informacji o czasie i dacie, lokalizacji oraz informacji przesyłanych do witryny za pośrednictwem formularza kontaktowego.
    </li>
    <li>
      Zebrane dane służą do monitorowania i sprawdzenia, w jaki sposób użytkownicy korzystają z naszych witryn, aby usprawniać funkcjonowanie serwisu zapewniając bardziej efektywną i bezproblemową nawigację. Monitorowania informacji o użytkownikach dokonujemy korzystając z narzędzia Google Analytics, które rejestruje zachowanie użytkownika na stronie.
  
      Cookies identyfikuje użytkownika, co pozwala na dopasowanie treści witryny, z której korzysta, do jego potrzeb. Zapamiętując jego preferencje, umożliwia odpowiednie dopasowanie skierowanych do niego reklam. Stosujemy pliki cookies, aby zagwarantować najwyższy standard wygody naszego serwisu, a zebrane dane są wykorzystywane jedynie wewnątrz firmy [nazwa] w celu optymalizacji działań.
    </li>
    <li>
      Na naszej witrynie wykorzystujemy następujące pliki cookies [naturalnie trzeba tu dostosować treść do wykorzystywanych przez Ciebie plików]:
  
      <ol>
        <li>
          „niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach serwisu, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach serwisu;
        </li>
        <li>
          pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach serwisu;
        </li>
        <li>
          „wydajnościowe” pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych serwisu;
        </li>
        <li>
          „funkcjonalne” pliki cookies, umożliwiające „zapamiętanie” wybranych przez użytkownika ustawień i personalizację interfejsu użytkownika, np. w zakresie wybranego języka lub regionu, z którego pochodzi użytkownik, rozmiaru czcionki, wyglądu strony internetowej itp.;
        </li>
        <li>
          „reklamowe” pliki cookies, umożliwiające dostarczanie użytkownikom treści reklamowych bardziej dostosowanych do ich zainteresowań.
        </li>
      </ol>
    </li>
    <li>
      Użytkownik w każdej chwili ma możliwość wyłączenia lub przywrócenia opcji gromadzenia cookies poprzez zmianę ustawień w przeglądarce internetowej. Instrukcja zarządzania plikami cookies jest dostępna
      <a href="#cookie-settings">tutaj</a>
      
      Dodatkowe dane osobowe, jak adres e-mail, zbierane są jedynie w miejscach, w których użytkownik wypełniając formularz wyraźnie wyraził na to zgodę. Powyższe dane zachowujemy i wykorzystujemy tylko do potrzeb niezbędnych do wykonania danej funkcji.
    </li>
  </ol>
<div class="cookie-policy-container">
  <h1>Polityka Cookies</h1>
  <div class="cookie-policy-edit">
    <h2>Czym są ciasteczka?</h2>
    <p>Są to niewielkie pliki zapisywane na Twoim urządzeniu. Pozwalają one naszej stronie
      prawidłowo działać, a Tobie cieszyć się najlepszymi doświadczeniami. Również - dzięki
      statystykom - pomagają nam w rozwijaniu strony. Ciastecka nie zawierają żadnych prywatnych
      informacji i są w pełni anonimowe, a wybór swoich preferencji możesz w każdej chwili zmienić.</p>
    <h2>Ciasteczka, któych używamy</h2>
    <p>Tutaj możesz zmienić swoje wybory dotyczące plików cookies.</p>
    <div class="cookie-policy-functional">
      <h2> Podstawowe </h2>
      <p>
        Te ciasteczka pozwalają w pełni cieszyć się naszą stroną.
      </p>
      <button [class.active]="functionalActive" class="functional" 
        [appEventTracker]='{"category":"Cookies","action":"ComponentCancelFunctional"}' (click)="acceptFunctional()">
        Włącz
      </button>
      <button [class.canceled]="!functionalActive" class="functional" 
        [appEventTracker]='{"category":"Cookies","action":"ComponentAcceptFunctional"}' (click)="cancelFunctional()">
        Wyłącz
      </button>
    </div>
    <div class="cookie-policy-targeting">
      <h2> Google Analytics </h2>
      <p>
        Dzięki tym ciasteczkom możemy tworzyć raporty i statystyki odwiedzin LearninGO. Wszystkie te dane są anonimowe i pozwalają nam rozwijać aplikację.
      </p>
      <button [class.active]="targetingActive" class="functional"
        [appEventTracker]='{"category":"Cookies","action":"ComponentCancelTargeting"}' (click)="acceptTargeting()">
        Włącz
      </button>
      <button [class.canceled]="!targetingActive" class="functional" 
        [appEventTracker]='{"category":"Cookies","action":"ComponentAcceptTargeting"}' (click)="cancelTargeting()">
        Wyłącz
      </button>
    </div>
  </div>
</div>
<a class="back-to-home" [appEventTracker]='{"category":"Login","action":"BackButton"}' routerLink="/">Wróć do strony głównej</a>