<app-card-base>
  <h2 header>Sprawdźmy jak sobie poradziłeś!</h2>
  <div body class="classes-wrapper">
    <div class="answers" *ngFor="let answer of answers">
      <div class="answer">
        <div>
          <h3>{{ answer.exercise.description }} </h3>
          <p class="wrong"> {{ answer.chosen }} </p>
        </div>
        <p class="student-answer"> {{ answer.correct ? 'Dobrze' : 'Źle' }}</p>
      </div>
    </div>
  </div>
</app-card-base>
