@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.answer {

  h3,
  .wrong {
    font-size: 18px;
    font-size: 18px;
    font-weight: bold;
    font-family: $secondary-font;
  }

  .wrong {
    color: $pink;
  }

  .student-answer {
    font-size: 22px;
    background: $pink;
    padding: 12px;
    width: auto;
    color: $white;
    font-weight: bold;
  }
}
