<div class="section-container">
  <app-card-base returnsTo="/home" *ngIf="section">
    <span header>{{section.name}}</span>
    <div body class="classes-wrapper">
      <app-presentation-list
        [presentations]="presentations"
        [exercises]="exercises"
        (deletePresentation)="deletePresentation($event)"
        (editPresentation)="editPresentation($event)"
        (ratePresentation)="ratePresentation($event[0], $event[1])"
        (deleteExercise)="deleteExercise($event)"
        (editExercise)="editExercise($event)"
        (rateExercise)="rateExercise($event[0], $event[1])"
      >
      </app-presentation-list>
    </div>
  </app-card-base>
</div>
