<div class="lesson-container">
  <app-card-base returnsTo="../../">
    <span header>{{lesson.name}}</span>
    <div body class="lesson-wrapper">
      <button mat-raised-button class="primary button-primary" data-type='presentation' [routerLink]="['presentation']">
        Prezentacja
      </button>
      <button mat-raised-button class="primary button-primary" data-type='exercise' [routerLink]="['exercise']">
        Zadania
      </button>
    </div>
  </app-card-base>
</div>
