@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.lesson-container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32px;

  @include tablet-and-desktop {
    max-width: 75%;
  }
}

.lesson-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  margin-bottom: 32px;
  padding: 48px 0;

  .button-primary {
    @include button-primary;
    color: $white;

    &[data-type='exercise'] {
      background: $blue;
    }

    &[data-type='presentation'] {
      background: $pink;
    }
  }
}

.container-wrapper {
  max-width: 100%;
  display: flex;
  background: $white;
  padding: 32px;
  min-height: 40vh;
}
