<div class="avatar-container">
  <div class="avatar-buttons">
    <button mat-raised-button class="primary button-primary" (click)="animateLove()"
      [appEventTracker]='{"category":"Avatar","action":"PlayBtn"}' [disabled]="foodAnimate || loveAnimate">Baw mnie</button>
    <button mat-raised-button class="primary button-primary" (click)="animateFood()" 
      [appEventTracker]='{"category":"Avatar","action":"FeedBtn"}'[disabled]="foodAnimate || loveAnimate">Nakarm mnie</button>
    <button mat-raised-button class="primary button-primary" 
      [appEventTracker]='{"category":"Avatar","action":"ShopBtn"}'[disabled]=loading routerLink="/shop">Nowe akcesoria</button>
  </div>
  <div class="avatar-wrapper">
    <img class="avatar-food-image" [className]="foodAnimate ? 'avatar-food-image animation' : 'avatar-food-image'" src="../../assets/img/food.png">
    <img class="avatar-love-image" [className]="loveAnimate ? 'avatar-love-image animation' : 'avatar-love-image'" src="../../assets/img/love.png">
    <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400"
    height="533.3333333333334" viewBox="0, 0, 400,533.3333333333334" [innerHTML]="(avatar ? avatar.svg : null) | keepSVG">
  </svg>
  </div>
</div>
