@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

@keyframes looking {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translate(-15px, -30px);
  }

  50% {
    transform: translate(-30px, 30px);
  }

  90% {
    transform: translate(30px, -5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes upAndDown {

  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(10px);
  }
}

@keyframes scaleShadow {
  0%,
  50%,
  100% {
    transform: scaleX(0.9);
  }

  25%,
  75% {
    transform: scaleX(1.1);
  }
}

@keyframes eating {
  0% {
    width: 0;
    opacity: .4 
  }

  75% { 
    width: 250px;
    opacity: 1;
  }
}

#shadow {
  transform-origin: center;
  animation: scaleShadow 10s infinite;
}

#face {
  animation: looking 18s infinite forwards;
}

#svgg-avatar {
  animation: upAndDown 10s infinite ease-in-out forwards;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg {
    max-height: 300px;
  }

  @include phone {
    flex-direction: column-reverse;
  }
}

.avatar-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  max-width: 100%;

  .button-primary {
    color: $white;
    background: $blue;
    padding: 4px 32px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;

    &:disabled {
      background: $grey;
    }
  }

  @include phone {
    margin: 0;
  }
}

.avatar-wrapper {
  position: relative;
}

.avatar-love-image,
.avatar-food-image {
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.animation {
    animation: eating 5s ease-in-out forwards;
  }
}