@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.button-primary {
  background: $orange;
  cursor: pointer;
  font-size: 22px;
  color: $white;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 12px;
}

.classes-wrapper {
  min-height: 50vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon {
  position: relative;
  top: 5px;
}
