<div class="presentation-container" [class.isOwned]="isOwned === true">
  <div class="presentation-action-wrapper" *ngIf="!isOwned">
    <ng-container>
      <button mat-raised-button (click)="rate.emit(true)" class="presentation-action presentation-action-rate-up" [class.active]="upActive === true">
        <i class="material-icons">
          thumb_up
        </i>
        {{ up }}
      </button>
      <button mat-raised-button (click)="rate.emit(false)" class="presentation-action presentation-action-rate-down" [class.active]="downActive === true">
        <i class="material-icons">
          thumb_down
        </i>
        {{ down }}
      </button>
    </ng-container>
  </div>
  <div class="presentation-data-wrapper">
    <a [routerLink]="['/exercise', exercise._id]" class="presentation-title">
      {{ exercise.name }}
    </a>
    <div *ngIf="exercise.creator?.username" class="presentation-author">
      <span>Autor: </span>
      {{ exercise.creator.username }}
    </div>
  </div>
  <div class="presentation-action-wrapper" *ngIf="isOwned">
    <ng-container>
      <button mat-raised-button (click)="delete.emit(exercise._id)" class="presentation-action presentation-action-delete">
        <i class="material-icons">
          delete
        </i>
        Usuń
      </button>
      <button mat-raised-button (click)="edit.emit(exercise._id)" class="presentation-action presentation-action-edit">
        <i class="material-icons">
          edit
        </i>
        Edytuj
      </button>
    </ng-container>
  </div>
  <mat-icon class="done-icon" *ngIf="exercise.done">done</mat-icon>
</div>
