@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';


.answers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 36px;
}

.button-primary {
  background: $orange;
  cursor: pointer;
  font-size: 22px;
  color: $white;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 12px;
}

.correct {
  background-color: $green !important;
  color: $white !important;
}

.incorrect {
  background-color: $g-red !important;
  color: $white !important;
}

.description {
  font-size: 20px;
}
