<app-card-base class="exercise-preview-wrapper">
  <span header>{{ exercise.name }}</span>
  <div body>
      <app-equation-renderer class="description" [text]="exercise.description"></app-equation-renderer>
      <div class="answers">
        <div class="answer" *ngFor="let answer of exercise.answers">
          <button
            [disabled]="exercise.correct"
            mat-raised-button class="primary button-primary"
            (click)="chooseAnswer.emit(answer)"
            [ngClass]="answer.correct ? 'correct': 'incorrect'"
          >
            <app-equation-renderer [text]="answer.description"></app-equation-renderer>
          </button>
        </div>
      </div>
  </div>
</app-card-base>
