<div class="groups-container">
  <h1>
    Witaj!
  </h1>
  <h2>
    Tu znajdziesz wszystkie swoje grupy
  </h2>
  <p>
    Kliknij ikone z plusem by wyszukać nowych grup!
  </p>
  <div class="groups-wrapper">
    <div *ngFor="let group of groupsArray" class="groups-item-wrapper">
      <div class="groups-item">
        <h2>
          <a class="group-link" routerLink="/group-name">{{group.name}}</a>
        </h2>
        <div>
          <p>
            {{group.users}} 
            {{sufix(group.users)}}
          </p>
          <p>
            Poziom: {{group.level}}
          </p>
        </div>
      </div>
    </div>
    <div class="groups-cta">
      <div class="groups-item-wrapper add-more-wrapper">
        <button class="groups-item add-more">
          Znajdź grupę
        </button>
      </div>
      <div class="groups-item-wrapper add-more-wrapper">
        <button class="groups-item add-more">
          Stwórz grupę
        </button>
      </div>
    </div>
  </div>
</div>
