@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.groups-wrapper {
    display: flex;

    @include phone {
        flex-direction: column;
    }

    .groups-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .groups-item-wrapper {
        flex: 0 0 25%;
        padding: 16px;

        @include phone {
            flex: 1 0 100%;
            width: 100%;
        }
        
        .groups-item {
            @include box-shadow;
            padding: 22px
        }

        .group-link {
            color: $blue;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .add-more {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: $white;
            background: $blue;
            width: 100%;
            border: 0;
            font-size: 1.2em;
            font-weight: bold;
            cursor: pointer;
        }
    }
}