@import '../../helpers/variables';
@import '../../helpers/mixins';

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: $pink;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button:hover {
  text-decoration: underline;
}

.navigation-primary {
  width: 100vw;
  background-color: $white;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  box-sizing: border-box;
  z-index: 99;
  border-bottom: 3px solid $blue;

  @include desktop {
    width: calc(100vw - 20px);
  }
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  li {
    margin-right: 24px;
  }

  .nav-link {
    padding: 26px 0 !important;
  }
}

.navigation-logo {
  color: $blue;
  font-family: $secondary-font;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;

  span {
    color: $pink;
  }
}

.nav-link {
  color: black;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.navbar-toggler {
  background: transparent;
  border: 0;

  @include desktop {
    display: none;
  }
}

.navbar-nav {
  list-style: none;

  @include phone-and-tablet {
    padding: 0;
    position: fixed;
    height: calc(100vh - 70px);
    width: 100%;
    max-width: 320px;
    background-color: $white;
    z-index: 99;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    padding: 32px 24px;
    left: -110vh;
    top: 73px;
    margin: 0;
    text-align: left;

    &::before {
      content: '';
      opacity: 0;
      transition: opacity .6s ease-in-out;
    }

    &.isActive {
      left: 0;

      &::before {
        content: '';
        background: $black;
        position: absolute;
        width: calc(100vw - 320px);
        height: 100vh;
        opacity: .6;
        left: 320px;
        top: 0;
      }
    }

    .nav-item {
      padding: 16px 0;
    }
  }

  @include desktop {
    display: flex;
    position: relative;

    &.isActive {
      display: flex;
    }
  }
}
