<header class="navigation-primary col-xs-12">
  <nav class="navbar navbar-expand-lg navigation-header">
    <a class="navbar-brand navigation-logo" routerLink="/home">learnin<span>GO</span></a>
    <div class="navigation-links">
      <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="material-icons">
          menu
        </i>
      </button>
      <div class="nav-wrapper">
        <ul class="navbar-nav" [class.isActive]="isActive">
          <li class="nav-item">
            <a class="nav-link" routerLink="/presentation-editor">Edytor prezentacji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/exercise-editor">Edytor zadań</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-presentations">TwojePrezentacje&Zadania</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/worksheet">Zbiór zadań</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop">Sklep</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profil</a>
          </li>
          <li class="nav-item">
            <button class="nav-logout" (click)="logout()">Wyloguj</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
