<div class="presentation-editor-component">
  <mat-card class="presentation-editor-form">
    <h2>Edytor prezentacji</h2>
    <div class="presentation-editor-select-wrapper">
      <mat-form-field class="editor-form">
        <mat-label>Wybierz dział</mat-label>
        <mat-select [(ngModel)]="section">
          <mat-optgroup *ngFor="let grade of grades" [label]="'Klasa ' + grade.id">
            <mat-option *ngFor="let section of grade.sections" [value]="section.name">
              {{section.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="editor-form">
        <input matInput [(ngModel)]="current.title" type="text"
          placeholder="Wpisz tytuł slajdu" />
      </mat-form-field>
      <mat-form-field class="editor-form">
        <textarea matInput [(ngModel)]="current.description" 
          placeholder="Wpisz treść slajdu"></textarea>
      </mat-form-field>
    </div>
    <div class="checkbox-wrapper">
      <div class="path">
        <input type="checkbox" id="show-image" [(ngModel)]="current.showImage" />
        <label for="show-image">Tekst + obrazek</label>
      </div>
      <div class="path">
        <input type="checkbox" id="show-quiz" [(ngModel)]="current.showQuiz" />
        <label for="show-quiz">Tekst + quiz</label>
      </div>
      <div class="path">
        <input type="checkbox" id="show-inter" [(ngModel)]="current.showInter" />
        <label for="show-inter">Tekst + interakcja</label>
      </div>
    </div>
    <div *ngIf="current.showImage" class="editor-form">
      <mat-form-field class="editor-form">
        <input matInput type="text" matInput [(ngModel)]="current.imgPath" 
          placeholder="Wstaw ścieżkę do obrazka" />
      </mat-form-field>
    </div>
    <div *ngIf="current.showQuiz" class="editor-form">
      <mat-form-field class="editor-form">
        <input matInput type="text" placeholder="Wpisz pytanie" [(ngModel)]="current.qTitle"
          />
      </mat-form-field>
      <mat-form-field class="editor-form">
        <input matInput type="text" [(ngModel)]="current.qA1" 
          placeholder="Poprawna odpowiedź" />
      </mat-form-field>
      <mat-form-field class="editor-form">
        <input matInput type="text" [(ngModel)]="current.qA2"  placeholder="Błędna odpowiedź"/>
      </mat-form-field>
      <mat-form-field class="editor-form">
        <input matInput type="text" [(ngModel)]="current.qA3" placeholder="Błędna odpowiedź"/>
      </mat-form-field>
      <mat-form-field class="editor-form">
        <input matInput type="text" [(ngModel)]="current.qA4" placeholder="Błędna odpowiedź"/>
      </mat-form-field>
    </div>
    <div *ngIf="current.showInter" class="path">
      <mat-form-field class="editor-form">
        <input matInput type="text" [(ngModel)]="current.iTitle" 
          placeholder="Wpisz pytanie" />
      </mat-form-field>
      <span>
        <mat-form-field class="editor-form">
          <input matInput type="text" placeholder="Odpowiedz - ścieżka do obrazka" [(ngModel)]="current.imgPath1"
            />
        </mat-form-field>
        <input type="checkbox" />
        Poprawna
      </span>
      <span>
        <mat-form-field class="editor-form">
          <input matInput type="text" [(ngModel)]="current.imgPath2" 
            placeholder="Odpowiedz - ścieżka do obrazka" />
        </mat-form-field>
        <input type="checkbox" />
        Poprawna
      </span>
      <span>
        <mat-form-field class="editor-form">
          <input matInput type="text" [(ngModel)]="current.imgPath3" 
            placeholder="Odpowiedz - ścieżka do obrazka" />
        </mat-form-field>
        <input type="checkbox" />
        Poprawna
      </span>
      <span>
        <mat-form-field class="editor-form">
          <input matInput type="text" [(ngModel)]="current.imgPath4" 
            placeholder="Odpowiedz - ścieżka do obrazka" />
        </mat-form-field>
        <input type="checkbox" />
        Poprawna
      </span>
    </div>
    <div class="buttons-wrapper">
      <button (click)="changeSlide(-1)" [disabled]="currentSlideIndex <= 0" mat-raised-button class="primary button-primary">Poprzedni slajd</button>
      <button (click)="changeSlide(+1)" mat-raised-button class="primary button-primary">Następny slajd</button>
      <button (click)="deleteSlide()" [disabled]="slides.length <= 1" mat-raised-button class="primary delete button-primary">Usuń slajd</button>      
      <button (click)="savePresentation()" mat-raised-button class="primary button-primary send">Wyślij</button>
      <button (click)="createPresentation()" mat-raised-button class="primary button-primary send">Wyślij i zakończ</button>
    </div>
  </mat-card>
  <app-slide class="slides-view-editor" [slide]="current" [pageNumber]="currentSlideIndex + 1" [maxPages]="slides.length"></app-slide>
</div>
