@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.presentation-editor {
  &-component {
    display: flex;
    min-height: 80vh;
    height: 100%;
    background: $white;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 44px;

    @include phone-and-tablet {
      flex-direction: column;
      padding: 0 16px;
    }
  }

  &-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include phone-and-tablet {
      flex-direction: row;
      max-width: 100%;
      overflow-x: scroll;

      > div,
      > h2 {
        min-width: 300px;
        width: 300px;
        padding: 0 16px;
      }
    }

    .checkbox-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .path {
        display: flex;
        padding: 8px 0;
      }
    }

    .editor {
      &-form {
        width: 100%;
      }
    }

    .buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .button-primary {
        background: $orange;
        color: $white;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        margin-top: 16px;
        cursor: pointer;
        flex: 1 0 100%;

        &.delete {
          background: $pink;
        }

        &.send {
          background: $blue;
        }
      }
    }
  }

  &-view {
    width: 60vw;

    .welcome-window {
      @include box-shadow;
      min-height: 350px;
      margin: 32px;
      box-sizing: border-box;
      overflow: hidden;

      @include phone-and-tablet {
        width: 100%;
        height: 100%;

        &.left {
          order: 1
        }
      }

      .wrapper-content {
        display: flex;
        justify-content: space-around;
      }

      .description,
      .image,
      .quiz,
      .interaction {
        padding: 16px;
        max-width: 50%;
        display: flex;
        justify-content: center;
      }

      .description {
        overflow-wrap: break-word;
      }

      .interaction {
        flex-direction: column;
      }

      .image,
      .interaction {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
          width: 100%;
          max-width: 50%;
          object-fit: contain;
        }
      }

      .iImages img {
        height: auto;
        padding: 8px;
        box-sizing: border-box;
      }

      .quiz {
        flex-direction: column;

        .qAButtons {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;

          button {
            background: $pink;
            margin-bottom: 8px;
            color: $white;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .controls {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .welcome-window-content {
        padding: 24px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: unset;
        height: 100%;
        min-height: 300px;
        justify-content: space-evenly;
      }

      .welcome-title-bar {
        background: $light-blue;
        height: 30px;
        position: relative;

        .icon {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);

          &.green {
            background: $green;
            right: 55px;
          }

          &.yellow {
            background: $orange;
            right: 35px;
          }

          &.red {
            background: $pink;
            right: 15px;
          }
        }
      }
    }
  }
}

.slides-view-editor {
  width: 100%;

  @include phone-and-tablet {
    margin: 0;
  }

  @include desktop {
    margin-left: 32px;
  }
}