@import '../../helpers/variables';

.card {
  &-base {
    padding: 0;
    overflow: hidden;
  }

  &-header {
    background-color: $blue;
    font-family: 'Amiko';
    font-weight: 400;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: relative;

    .card-title,
    .card-subtitle {
      color: $white;
    }

    .card-title {
      margin-bottom: 4px;
      font-size: 32px;
    }

    .card-subtitle {
      margin: 0;
    }
  }

  &-content {
    padding: 20px 22px;
  }
}

.container-class>.card-base {
  margin-bottom: 10px;
}

.button-back {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  color: $white;
  cursor: pointer;
  font-size: 32px;
}
