<mat-card class="card-base">
  <mat-card-header class="card-header">
    <div *ngIf="returnsTo" [routerLink]="returnsTo" class="button-back"><i class="material-icons">
        arrow_back_ios
      </i></div>
    <mat-card-title class="card-title">
      <ng-content select="[header]"></ng-content>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <ng-content select="[body]"></ng-content>
  </mat-card-content>
</mat-card>
