<div class="container-profile profile-avatar">
  <div class="container-profile-cloud">
    <p>Kliknij na mnie!</p>
  </div>
  <div class="avatar-profile-wrapper">
    <div class="avatar-container-profile" routerLink="/avatar-page" [appEventTracker]='{"category":"Avatar","action":"FromProfileRedirection"}'>
      <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400"
        height="533.3333333333334" viewBox="0, 0, 400,533.3333333333334" [innerHTML]="(avatar ? avatar.svg : null) | keepSVG">
      </svg>
    </div>
  </div>
  <div class="profile-settings"><i class="fas fa-cogs"></i></div>
  <div class="user-data">
    <div class="user-profile-name">
      <h4>Pseudonim</h4>
      <p>{{user.username}}</p>
    </div>
    <div class="user-profile-level">
      <h4>Monety</h4>
      <p>{{user.progress.money}}<span>$</span>
      </p>
    </div>
  </div>
</div>
