@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

@keyframes looking {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translate(-15px, -30px);
  }

  50% {
    transform: translate(-30px, 30px);
  }

  90% {
    transform: translate(30px, -5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes upAndDown {

  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(10px);
  }
}

@keyframes scaleShadow {

  0%,
  50%,
  100% {
    transform: scaleX(0.9);
  }

  25%,
  75% {
    transform: scaleX(1.1);
  }
}

@keyframes rotateBorder {
  0%,
  100% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

#shadow {
  transform-origin: center;
  animation: scaleShadow 10s infinite;
}

#face {
  animation: looking 18s infinite forwards;
}

#svgg-avatar {
  animation: upAndDown 10s infinite ease-in-out forwards;
}

.container-profile-cloud {
  border: 3px solid $blue;
  padding: 10px 30px;
  position: absolute;
  left: calc(50% + 150px);
  border-radius: 20px;
  background: $white;
  color: $pink;
  font-weight: bold;

  @include small-phone {
    display: none;
  }

  &::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid $blue;
    display: block;
    position: absolute;
    bottom: -35px;
    background: $white;
  }

  &::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid $blue;
    display: block;
    position: absolute;
    bottom: -50px;
    left: 10px;
    background: $white;
  }
}

.avatar-profile-wrapper {
  height: 290px;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  &::after {
    content: '';
    transform-origin: center;
    animation: rotateBorder 10s infinite forwards;
    width: 100%;
    position: absolute;
    height: 100%;
    border: 7px dotted $blue;
    border-radius: 50%;
  }

  &::before {
    content: '';
    transform-origin: center;
    animation: rotateBorder 13s infinite forwards;
    width: 92%;
    position: absolute;
    height: 92%;
    border: 5px dotted $pink;
    border-radius: 50%;
  }
}

.avatar-container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 3px dotted $blue;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  svg {
    height: 150%;
    transform: translateY(25%);
  }

  @include phone-and-tablet {
    flex-direction: column-reverse;
  }
}

.avatar-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  max-width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include phone-and-tablet {
    margin: 0;
  }
}

.button-primary {
  color: $white;
  background: $blue;
  padding: 8px 48px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.progress-bar-base {
  height: 24px;
  max-width: 75%;
  margin-bottom: 32px;
}

.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 32px 0;
}

[class^="user-profile"] {
  width: 100%;
  margin: 0 32px;

  h4 {
    font-size: 1.4em;
    color: $pink;
    margin: 8px 0;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;

    span {
      color: $pink;
    }
  }
}
