<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="changeTab($event)">
  <mat-tab label="Prezentacje">
    <app-presentation-card
      *ngFor="let pres of presentations"
      [presentation]="pres"
      (delete)="deletePresentation.emit($event)"
      (edit)="editPresentation.emit($event)"
      (rate)="ratePresentation.emit([pres._id, $event])"
    ></app-presentation-card>
  </mat-tab>
  <mat-tab label="Zadania">
    <app-exercise-card
      *ngFor="let exer of exercises"
      [exercise]="exer"
      (delete)="deleteExercise.emit($event)"
      (edit)="editExercise.emit($event)"
      (rate)="rateExercise.emit([exer._id, $event])"
    ></app-exercise-card>
  </mat-tab>
</mat-tab-group>
