<mat-card class="login-container">
  <img class="login-avatar" src="../../assets/img/pupil.png"/>
  <form class="login-wrapper" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-title class="login-title">
      Zarejestruj się
    </mat-card-title>
    <mat-form-field class="login-form">
      <mat-label>Wpisz swój adres email</mat-label>
      <input matInput type="email" formControlName="email" pattern=".+@.+\..+"
             class="form-control login-input" [ngClass]="{ 'is-invalid': submitted && f.username.errors || f}"/>
    </mat-form-field>
    <mat-form-field class="login-form">
      <mat-label>Wpisz swój pseudonim</mat-label>
      <input matInput type="text" formControlName="username"
             class="form-control login-input" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
    </mat-form-field>
    <mat-form-field class="login-form">
      <mat-label>Podaj swoje hasło</mat-label>
      <input matInput type="password" formControlName="password"
             minlength="8"
             class="form-control login-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
    </mat-form-field>
    <mat-form-field class="login-form">
      <mat-label>Powtórz swoje hasło</mat-label>

      <input matInput type="password" formControlName="confirmPassword"
             class="form-control login-input"/>
    </mat-form-field>
    <div>
      <mat-checkbox formControlName="acceptRules" class="form-control login-input">
        Akceptuj <a class="nav-link" routerLink="/privacy-policy">zasady</a>
      </mat-checkbox>
      <mat-error *ngIf="rulesCheckbox.hasError('required') && rulesCheckbox.touched">To pole jest wymagane</mat-error>
    </div>
    <div *ngIf="error" class="login-error">{{error}}</div>
    <button mat-raised-button class="primary button-primary" [disabled]="loading || registerForm.invalid">Wchodzę!</button>
    <a class="back-to-home" [appEventTracker]='{"category":"Registration","action":"BackButton"}' routerLink="/">Wróć do strony głównej</a>
  </form>
</mat-card>
