@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.back-to-home {
  margin-top: 12px;
  font-size: .8em;
}

.login-container {
  @include radial-gradient($light-purple, 0%, $purple, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
}

.login-wrapper {
  @include box-shadow;
  background: $white;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
  position: relative;

  @include tablet-and-desktop {
    height: auto;
    width: 50%;
  }
}

.login-avatar {
  position: absolute;
  top: -20px;
  right: 0;
  height: 30%;
  transform: rotate(180deg);

  @include desktop {
    height: 50%;
  }
}

.login-title {
  font-size: 1.4em;
  margin: 0;
  font-family: $primary-font;
  padding-bottom: 24px;

  @include desktop {
    font-size: 2em;
  }
}

.login-form {
  width: 90%;

  @include tablet-and-desktop {
    width: 75%;
  }
}

.button-primary {
  color: $white;
  background: $purple;
  padding: 8px 48px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.login-error {
  color: $pink;
  font-family: $primary-font;
  font-weight: 600;
}
