<mat-card class="login-container">
  <img class="login-avatar" src="../../assets/img/pupil.png" />
  <form class="login-wrapper" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-title class="login-title">Podaj swój pseudonim i tajne hasło</mat-card-title>
    <mat-form-field class="login-form">
      <mat-label>Wpisz swój email</mat-label>
      <input matInput type="text" formControlName="email" pattern=".+@.+\..+"
        class="form-control login-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    </mat-form-field>
    <mat-form-field class="login-form">
      <mat-label>Podaj swoje hasło</mat-label>
      <input matInput type="password" formControlName="password"
        class="form-control login-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    </mat-form-field>
    <div *ngIf="error" class="login-error">{{error}}</div>
    <button mat-raised-button class="primary button-primary" [disabled]=loading>Wchodzę!</button>
    <a class="back-to-home" [appEventTracker]='{"category":"Login","action":"BackButton"}' routerLink="/">Wróć do strony głównej</a>
  </form>
</mat-card>
