<mat-card>
  <mat-card-content class="item-list">
    <button class="list-button" (click)="moveLeft()">
      <i class="material-icons">
        chevron_left
      </i></button>
    <div class="item" *ngFor="let item of cutItems(items)">
      <h1 *ngIf="item" class="item-title">{{item.name}}</h1>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100"
        viewBox="0, 0, 400,533.3333333333334" [innerHTML]="item.svg | keepHtml"> </svg>
      <button class="carousel-item-button" *ngIf="item && item.state == 'toBuy'" (click)="buyEvent(item)"><span>kup za {{item.price}}</span> <i
          class="material-icons">attach_money</i></button>
      <button class="carousel-item-button" *ngIf="item && item.state == 'owned'" (click)="equipEvent(item)"><span>załóż</span></button>
    </div>
    <button class="list-button" (click)="moveRight()"><i class="material-icons">
        chevron_right
      </i></button>
  </mat-card-content>

</mat-card>
