@import '../../helpers/variables';
@import '../../helpers/mixins';

.item-list {
  display: flex;
  list-style: none;
  margin: 0 auto;

  @include phone-and-tablet {
    flex-direction: row;
  }

  @include small-phone {
    flex-direction: column;
  }

  .item-title {
    margin: 8px 0;
  }

  .item {
    @include box-shadow-light;
    text-decoration: none;
    font-size: 20px;
    color: $purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 24px;
    padding: 32px 22px;

    @include small-phone {
      width: 100%;
      margin: 0;
      margin-bottom: 16px;
    }

    @include phone-and-tablet {
      font-size: 16px;
    }

    &:hover {
      background: $white;
    }
  }

  .list-button {
    @include button-primary;
    color: $white;
    background: $pink;
    border: 0;

    @include phone-and-tablet {
      display: none;
    }
  }

  .carousel-item-button {
    @include button-primary;
    background: $blue;
    border: 0;
    color: $white;
  }
}
