<div class="shop-items">
  <h2 class="shop-money">
    Posiadasz <span>{{this.user.progress.money}}</span><span class="dolar">$</span>
  </h2>
  <div class="shop-avatar" [ngClass]="{ 'is-active': active }">
    <div class="shop-avatar-controls">
      <button class="shop-avatar-button minimize-window" (click)="toggleMinimize()">_</button>
      <button class="shop-avatar-button close-window" (click)="toggleActive()">x</button>
    </div>
    <svg id="svg" [ngClass]="{ 'is-minimized': minimize }" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="533.3333333333334"
      viewBox="0, 0, 400,533.3333333333334" [innerHTML]="(avatar ? avatar.svg : null) | keepSVG">
    </svg>
  </div>
  <div class="shop-carousel-items">
    <h2>Czapeczki</h2>
    <app-carousel [items]="hats" (buy)="buyItem($event)" (equip)="equipItem($event)" class="shop-item-carousel"></app-carousel>
    <h2>Okulary</h2>
    <app-carousel [items]="glasses" (buy)="buyItem($event)" (equip)="equipItem($event)" class="shop-item-carousel"></app-carousel>
  </div>
</div>