@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.shop-items {
  .shop-carousel-items {
    h2 {
      color: $black;
    }
  }

  .shop-money {
    @include box-shadow-light;
    padding: 10px 20px;
    border: 3px solid $blue;
    background: $white;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 55px;
    font-size: 16px;

    span {
      color: $blue;
  
      &.dolar {
        color: $pink;
      }
    }
  }

  .shop-avatar-controls {
    background: $blue;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 5px 12px;
  }

  .shop-avatar-button {
    border: 0;
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $white;
    font-weight: 700;
    font-family: $primary-font;

    &.minimize-window {
      background: $orange;
    }

    &.close-window {
      background: $pink;
    }
  }

  .shop-avatar {
    @include box-shadow;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba($white, .5);
    max-height: 30vh;
    width: 320px;
    display: none;
    overflow: hidden;

    @include phone {
      width: calc(100vw - 16px);
      max-height: 50vh;
    }

    &.is-active {
      display: block;
    }

    #svg {
      max-height: 28vh;
      max-width: 32 0px;
      width: 100%;
      display: block;
      padding: 24px;

      &.is-minimized {
        display: none;
      }

      @include phone {
        display: none;
        height: 0;

        &.is-minimized {
          display: block;
          max-height: 48vh;
          height: 100%;
        }
      }
    }
  }
}
