@import '../app/shared/helpers/variables';
@import '../app/shared/helpers/mixins';

.content {
  min-height: 70vh;
  padding: 70px 0;
  padding-top: 112px;
  max-width: 1600px;
  margin: 0 auto;

  @include phone-and-tablet {
    padding: 42px 0px;
    padding-top: 112px;
  }
}
