<div style="text-align:center">
  <app-header *ngIf="showHeader"></app-header>
  <div class="content">
    <router-outlet (activate)="onActivate($event)" ></router-outlet>
  </div>
  <app-footer *ngIf="showFooter"></app-footer>
  <app-cookie-disclaimer></app-cookie-disclaimer>
</div>
