@import '~katex/dist/katex.css';
@import 'app/shared/helpers/variables';

@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/Amiko/Amiko-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 600;
  src: url('src/assets/fonts/Amiko/Amiko-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/Amiko/Amiko-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('src/assets/fonts/Rubik/Rubik-Black.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  overflow-x: hidden;
  margin: 0;
}

body,
p {
  font-family: 'Amiko';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik';
}

a {
  font-family: 'Amiko';
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}