@import './app/shared/helpers/pallete';
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue);
$my-app-accent: mat-palette($mat-orange);
$my-app-warn: mat-palette($mat-pink);
$my-app-theme-base: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme-base);

.alternate-theme {
  $my-app-primary: mat-palette($mat-purple);
  $my-app-accent: mat-palette($mat-black);
  $my-app-warn: mat-palette($mat-white);
  $my-app-theme-alternate: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
  @include angular-material-theme($my-app-theme-alternate);
}

.social-theme {
  $my-app-primary: mat-palette($mat-fb-blue);
  $my-app-accent: mat-palette($mat-g-red);
  $my-app-theme-socialmedia: mat-light-theme($my-app-primary, $my-app-accent);
  @include angular-material-theme($my-app-theme-socialmedia);
}
