<div [class.active]="isActive" class="cookie-disclaimer-container">
  <div class="cookie-disclaimer-wrapper">
    <button class="close-button" [appEventTracker]='{"category":"Cookies","action":"DisclaimerClose"}' (click)="closeDisclaimer()">
      X
    </button>
    <div class="cookie-disclaimer-description">
      <h1>Nasza strona używa ciasteczek</h1>
      <p>Używamy ich, abyś mógł w pełni cieszyć się nauką z LearninGO, oraz by obserwować ruch na stronie.
        Jeśli chcesz dowiedzieć się więcej lub zmienić swoje preferencje, wybierz "Więcej". Swoje wybory
        znajdziesz również w zakładce "Polityka Cookies". </p>
    </div>
    <div class="cookie-disclaimer-cta">
      <a class="cta-edit" [appEventTracker]='{"category":"Cookies","action":"DisclaimerMoreBtn"}' routerLink="/cookie-policy">
        Więcej
      </a>
      <button class="cta-accept" [appEventTracker]='{"category":"Cookies","action":"DisclaimerAcceptAll"}' (click)="acceptAllCookie()">
        Akceptuję
      </button>
    </div>
  </div>
</div>