@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.cookie-disclaimer-container.active {
  position: fixed;
  width: 100vw;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: white;
  border-top: 5px solid $pink;

  .cookie-disclaimer-wrapper {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px;
    justify-content: center;
    align-items: center;
    position: relative;

    @include phone {
      flex-direction: column;
      
      p {
        text-align: center;
      }

      h1 {
        font-size: 18px;
        text-align: center;
      }

      .cookie-disclaimer-description {
        padding: 0;
      }
    }
  }

  .close-button {
    @include button-primary;
    border: 0;
    background: $orange;
    color: $white;
    padding: 8px 12px;
    position: absolute;
    top: 12px;
    right: 20px;
  }

  .cookie-disclaimer-description {
    max-width: 75%;
    text-align: left;
    padding-right: 32px;
  }

  .cookie-disclaimer-cta {
    display: flex;
    flex-direction: column;

    .cta-edit {
      background: $orange;
      margin-bottom: 12px;
      @include button-primary;
      border: 0;
      color: $white;
      text-decoration: none;
    }

    button {
      @include button-primary;
      border: 0;
      color: $white;

      &.cta-accept {
        background: $blue;
      }
    }
  }
}

.cookie-disclaimer-container {
  display: none;
}