@import '../helpers/variables';

@mixin linear-gradient($start, $stop) {
  background: $start;
  background: -moz-linear-gradient(top, $start 0%, $stop 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $stop));
  background: -webkit-linear-gradient(top, $start 0%, $stop 100%);
  background: -o-linear-gradient(top, $start 0%, $stop 100%);
  background: -ms-linear-gradient(top, $start 0%, $stop 100%);
  background: linear-gradient(to bottom, $start 0%, $stop 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

@mixin radial-gradient($start-colour, $start-position, $end-colour, $end-position) {
  background: -moz-radial-gradient(center, ellipse cover, $start-colour $start-position, $end-colour $end-position);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, Colour-stop($start-position, $start-colour), Colour-stop($end-position, $end-colour));
  background: -webkit-radial-gradient(center, ellipse cover, $start-colour $start-position, $end-colour $end-position);
  background: -o-radial-gradient(center, ellipse cover, $start-colour $start-position, $end-colour $end-position);
  background: -ms-radial-gradient(center, ellipse cover, $start-colour $start-position, $end-colour $end-position);
  background: radial-gradient(ellipse at center, $start-colour $start-position, $end-colour $end-position);
}

@mixin box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin box-shadow-light {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin inset-shadow {
  box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin button-primary {
  padding: 8px 48px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

@mixin small-tablet-and-desktop {
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin small-phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin phone-and-tablet {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
