// Colors
$purple: #44355B;
$light-purple: rgb(101, 79, 134);
$pink: #EC576B;
$orange: #F19F4D;
$blue: #4ec5c1;
$light-blue: #94dfdc;
$black: #000000;
$white: #ffffff;
$fb-blue: #3b5998;
$g-red: #DB4437;
$grey: #636363;
$light-grey: #f5f5f5;
$green: #069E2D;
$niceGreen: #50C878;

// Fonts
$primary-font: 'Amiko';
$secondary-font: 'Rubik';

// Breakpoins
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
