@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.presentation-editor {
  &-component {
    display: flex;
    min-height: 80vh;
    height: 100%;
    background: $white;
  }

  &-form {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .editor {
      &-form {
        width: 100%;
      }
    }

    .path {
      width: 100%;
    }

    .buttons-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-evenly;

      .button-primary {
        background: $blue;
        color: $white;
        font-weight: bold;
        font-size: 16px;
        margin: 32px 0;
      }
    }
  }

  &-view {
    width: 100%;
    margin: 0 auto;

    .welcome-window {
      @include box-shadow;
      box-sizing: border-box;
      overflow: hidden;

      @include phone-and-tablet {
        width: 100%;
        height: 100%;

        &.left {
          order: 1
        }
      }

      .wrapper-content {
        display: flex;
        justify-content: space-around;

        @include phone {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          > div {
            max-width: 100%;
          }
        }
      }

      .description,
      .image,
      .quiz,
      .interaction {
        padding: 16px;
        max-width: 50%;
        display: flex;
        justify-content: center;
      }

      .description {
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }

      .interaction {
        flex-direction: column;
      }

      .image,
      .interaction {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
          width: 100%;
          max-width: 50%;
          object-fit: contain;
          max-height: 150px;
        }
      }

      .iImages img {
        height: auto;
        padding: 8px;
        box-sizing: border-box;
      }

      .quiz {
        flex-direction: column;

        .qAButtons {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;

          button {
            background: $pink;
            margin: 8px;
            color: $white;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .controls {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .welcome-window-content {
        padding: 24px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: unset;
        height: 100%;
        min-height: 300px;
        justify-content: space-evenly;
      }

      .welcome-title-bar {
        background: $light-blue;
        height: 30px;
        position: relative;
      }
    }
  }
}

.iImages {
  display: flex;
  flex-wrap: wrap;
  img {
    cursor: pointer;
  }
}

.revealed {
  .correct {
    background: $green !important;
  }

  > * {
    background: $g-red !important;
  }
}
