<div class="presentation-editor-view">
  <h2>
    <a routerLink="/home">
      <i class="material-icons">chevron_left</i>
    </a> Widok prezentacji
  </h2>
  <div class="welcome-window">
    <div class="welcome-window-content">
      <h3 class="title">{{ slide.title }}</h3>
      <div class="wrapper-content">
        <div class="description">
          {{ slide.description }}
        </div>
        <div class="image" *ngIf="slide.showImage">
          <img [src]="slide.imgPath">
        </div>
        <div *ngIf="slide.showQuiz" class="quiz">
          <h5>{{ slide.qTitle }}</h5>
          <div class="qAButtons" [class.revealed]="revealedAnswers">
            <button [style.order]="order[0]" (click)="revealAnswers()" mat-raised-button class="primary button-primary correct">{{ slide.qA1 }}</button>
            <button [style.order]="order[1]" (click)="revealAnswers()" mat-raised-button class="primary button-primary">{{ slide.qA2 }}</button>
            <button [style.order]="order[2]" (click)="revealAnswers()" mat-raised-button class="primary button-primary">{{ slide.qA3 }}</button>
            <button [style.order]="order[3]" (click)="revealAnswers()" mat-raised-button class="primary button-primary">{{ slide.qA4 }}</button>
          </div>
        </div>
        <div class="interaction" *ngIf="slide.showInter">
          <h5>{{ slide.iTitle }}</h5>
          <div class="iImages" [class.revealed]="revealedPhotos">
            <img [style.order]="order[0]" class="correct" (click)="revealPhotos()" [src]="slide.imgPath1">
            <img [style.order]="order[1]" (click)="revealPhotos()" [src]="slide.imgPath2">
            <img [style.order]="order[2]" (click)="revealPhotos()" [src]="slide.imgPath3">
            <img [style.order]="order[3]" (click)="revealPhotos()" [src]="slide.imgPath4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
