<ng-container *ngIf="presentation">
  <app-slide class="presentation-container" [slide]="currentSlide" [pageNumber]="currentSlideIndex + 1"
    [maxPages]="slides.length"></app-slide>
  <div class="buttons-wrapper">
    <button (click)="changeSlide(-1)" [disabled]="currentSlideIndex <= 0" mat-raised-button
      class="primary button-primary">Poprzedni slajd</button>
    <button (click)="changeSlide(+1)" [disabled]="currentSlideIndex >= slides.length - 1" mat-raised-button
      [appEventTracker]='{"category":"Presentation", "action":"Watched"+presentation.name+currentSlideIndex+"/"+slides.length+2}'
      class="primary button-primary">Następny slajd</button>
    <button routerLink="/home" *ngIf="currentSlideIndex >= slides.length - 1" mat-raised-button
      class="primary button-primary end">Zakończ</button>
  </div>
</ng-container>
