@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.presentation-container {
  max-width: 75%;
  display: block;
  margin: 0 auto;
  min-height: 40vh;

  @include phone {
    max-width: 100%;
  }
}

.button-primary {
  background: $blue;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  margin: 0 16px;
  margin-top: 16px;
  cursor: pointer;

  &.end {
    background-color: $pink;
  }
}
