<div class="welcome-container">
  <img class="welcome-avatar" src="../../assets/img/pupil.png" />
  <div class="welcome-wrapper">
    <h1 class="welcome-title">Zaloguj się i wejdź do świata</h1>
    <h2 class="welcome-logo"><span class="text-blue">learnin</span><span class="text-pink">GO</span></h2>
    <div class="welcome-buttons">
      <app-button-base routerLink="/login"> Logowanie </app-button-base>
      <div class="divider-mb"></div>
      <app-button-base routerLink="/register"> Rejestracja </app-button-base>
    </div>
  </div>
  <a class="welcome-content-link" href="#content" [appEventTracker]='{"category":"HomePage","action":"ContetntButton"}'>
    <i class="material-icons">
      keyboard_arrow_down
    </i>Kliknij by dowiedzieć się więcej!<i class="material-icons">
      keyboard_arrow_down
    </i>
  </a>
</div>
<div class="welcome-content" id="content" [appScrollTracker]='{"category":"WelcomePage","action":"ScrollContent_1/3"}'>
  <div class="welcome-section left">
    <div class="welcome-items">
      <div class="welcome-title">Czym jest learninGO?</div>
      <div class="welcome-description">
        To aplikacja będąca demonstracją technologiczną platformy e-learning, która nawet najdłuższą lekcję zamieni we wspaniałą zabawę! Zadbaj o swojego pupila
        i razem z nim odkrywaj zaskakujący świat matematyki. Zamień szkolne zadanie w interaktywną łamigłówkę,
        która pozwoli Ci zdobywać punkty i obdarowywać pupila nagrodami. Nie martw się — w razie problemów
        znajdziemy dla Ciebie odpowiednią prezentację, a Ty w mig powtórzysz interesujący Cię materiał.
        Rozwiązuj zadania systematycznie, a żaden test nie sprawi Ci trudności.
      </div>
    </div>
    <div class="welcome-window">
      <div class="welcome-window-content">
          <img src="../../assets/img/window-content-2.png"/>
      </div>
    </div>
  </div>
  <div class="welcome-section right">
    <div class="welcome-window left">
      <div class="welcome-window-content">
        <img src="../../assets/img/window-content-1.png"/>
      </div>
    </div>
    <div class="welcome-items right" [appScrollTracker]='{"category":"WelcomePage","action":"ScrollContent_2/3"}'>
      <div class="welcome-title blue">Sprawdź nasze zadania i prezentacje!</div>
      <div class="welcome-description">
        Każdą przygodę należy zacząć od przygotowań. My zrobiliśmy to za Ciebie — wystarczy tylko,
        że poświęcisz chwilę na krótką prezentację. Tam dowiesz się wszystkiego, co niezbędne i udowodnisz
        swojemu pupilowi, że zrozumiałeś materiał lepiej od niego. W ten prosty sposób jesteś gotowy
        na czekające Cię wyzwania. Wskazuj poprawne odpowiedzi, przesuwaj elementy, aby stworzyć rozwiązanie
        i zapisuj proste obliczenia. Rozwiązuj tak wiele zadań, ile tylko masz ochotę.
      </div>
    </div>
  </div>
  <div class="welcome-section left" [appScrollTracker]='{"category":"WelcomePage","action":"ScrollContent_3/3"}'>
    <div class="welcome-items">
      <div class="welcome-title">Edytory zadań i prezentacji</div>
      <div class="welcome-description">
        Wygodne edytory pozwalają na łatwą edycję zarówno zadań jak i całych prezentacji. Podziel się wiedzą już dziś i pokaż światu co umiesz! Nie jesteś pewny swojej wiedzy? Spokojnie, każda prezentacja i zadanie są oceniane przez resztę użytkowników. Chcesz wstawić skomplikowany wzór matematyczny ale żadne narzędzie Ci tego nie umożliwia? Dobrze się składa! Potrafimy to zrobić, z naszym poradnikiem dodasz każdy możliwy wzór i wiele więcej!
      </div>
    </div>
    <div class="welcome-window">
      <div class="welcome-window-content">
        <img src="../../assets/img/window-content-3.png"/>
      </div>
    </div>
  </div>
</div>
