@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.welcome-container {
  @include radial-gradient($light-blue, 0%, $blue, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  padding: 44px 0;
  overflow: hidden;
  position: relative;
  margin-top: -112px;
  flex-direction: column;
}

.welcome-wrapper {
  @include box-shadow;
  background: $white;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: relative;

  @include phone-and-tablet {
    padding: 48px 24px;
  }

  @include tablet-and-desktop {
    height: 50%;
    width: 50%;
  }
}

.welcome-buttons {
  display: flex;
  flex-direction: column;
}

.divider-mb {
  margin-bottom: 16px;
}

.text-blue {
  color: $blue;

  @include tablet-and-desktop {
    font-size: 2.5em;
  }
}

.text-pink {
  color: $pink;

  @include tablet-and-desktop {
    font-size: 3em;
  }
}

.welcome-avatar {
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 30%;
  transition: height .3s ease-in-out;

  @include desktop {
    height: 50%;
  }
}

.welcome-title {
  font-size: 1.4em;
  margin: 0;

  @include desktop {
    font-size: 2em;
  }
}

.welcome-logo {
  font-size: 1.4em;
}

.welcome-content {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 32px;
  box-sizing: border-box;
}

.welcome-content-link {
  @include box-shadow;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2em;
  color: $white;
  padding: 8px 16px;
  background-color: $pink;
  margin-top: 32px;
  z-index: 1;
}

.welcome-section {
  display: flex;
  margin-bottom: 92px;
  align-items: center;

  @include phone {
    flex-direction: column;
  }

  .welcome-items {
    width: 60%;
    text-align: left;
    padding-right: 5%;

    &.right {
      text-align: right;
      padding-left: 5%;
      padding-right: 0;

      @include phone {
        padding-left: 0;
      }
    }

    @include phone-and-tablet {
      width: 100%;
      padding-right: 0;
      margin-bottom: 32px;
    }

    .welcome-title {
      font-size: 3em;
      margin: 0;
      color: $pink;
      font-family: $secondary-font;
      font-weight: 700;
      margin-bottom: 16px;

      &.blue {
        color: $blue;
      }
    }

    .welcome-description {
      font-family: $primary-font;
      line-height: 32px;
      font-size: 1.2em;
    }
  }
}

.welcome-window {
  @include box-shadow;
  width: 40%;
  overflow: hidden;
  height: 100%;

  @include phone {
    width: 100%;
    height: 100%;

    &.left {
      order: 1
    }
  }

  .welcome-window-content {
    display: flex;

    img {
      width: 100%;
    }
  }

  .welcome-title-bar {
    background: $light-blue;
    height: 30px;
    position: relative;

    .icon {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);

      &.green {
        background: $green;
        right: 55px;
      }

      &.yellow {
        background: $orange;
        right: 35px;
      }

      &.red {
        background: $pink;
        right: 15px;
      }
    }
  }
}
