<div class="section-container">
  <app-card-base returnsTo="/home">
    <span header>Moje prezentacje i zadania</span>
    <div body class="classes-wrapper">
      <app-presentation-list
        [presentations]="presentations"
        [exercises]="exercises"
        (deletePresentation)="deletePresentation($event)"
        (editPresentation)="editPresentation($event)"
        (deleteExercise)="deleteExercise($event)"
        (editExercise)="editExercise($event)"
      >
      </app-presentation-list>
    </div>
  </app-card-base>
</div>
