@import '../shared/helpers/variables';
@import '../shared/helpers/mixins';

.classes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  list-style: none;
  padding: 48px 32px;
  max-width: 75%;
  margin: 0 auto;

  .classes-link {
    @include box-shadow;
    text-decoration: none;
    font-size: 20px;
    color: $purple;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;

    &:hover {
      background: $white;
    }
  }
}

.section-container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 48px;

  @include tablet-and-desktop {
    max-width: 75%;
  }
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-bottom: 32px;

  .button-primary {
    @include button-primary;
    color: $white;

    &[data-type='exercise'] {
      background: $blue;
    }

    &[data-type='introduction'] {
      background: $pink;
    }

    &[data-type='test'] {
      background: $orange;
    }
  }
}

.container-wrapper {
  max-width: 100%;
  display: flex;
  background: $white;
  padding: 32px;
}
