<div class="container-content">
    <h1>
      Polityka prywatności
    </h1>
    <div>
      Polityka prywatności pozwala zrozumieć, jakie dane zbieramy i przetwarzamy. Korzystając z usług platformy LearninGO,
      wyrażasz zgodę na udostępnianie danych nam oraz naszym zaufanym partnerom. Zapoznaj się dokładnie z poniższymi informacjami,
      aby wiedzieć jakie dane przetwarzamy oraz jak dbamy o ich bezpieczeństwo.
    </div>
    <h2>Jakie dane przetwarzamy?</h2>
    <div>
      Przetwarzamy jedynie dane, które sam nam powierzasz. Przede wszystkim są to dane niezbędne do zalogowania do naszego portalu,
      czyli adres e-mail. Są to dane poufne i nie są one nikomu powierzane.
    </div>
    <div>
      Mamy również dostęp do danych pozostawianych w plikach cookies, które usprawniają działanie naszej platformy (więcej poniżej).
    </div>
    <div>
      Dane, jakimi zarządzamy są niezbędne do prawidłowego funkcjonowania platformy LearninGO, zapewnienia bezpieczeństwa
      Użytkowników oraz najlepszego dopasowania treści do Twoich oczekiwań.
    </div>
    <h2>Ciasteczka</h2>
    <div>
      Są to pliki zapisywane w Twojej przeglądarce. Przechowujemy tam informacje o Twoich ustawieniach. Usprawnia to działanie
      strony oraz poprawia doświadczenia płynące z użytkowania jej. Cookies to również informacje o tym, jak poruszasz się po
      naszej platformie i jakie treści interesują Cię najbardziej. Te informacje gromadzimy za pomocą GoogleAnalytics, o czym
      możesz dowiedzieć się więcej <a href='https://policies.google.com/privacy?hl=pl' target='blank'>tutaj</a>.
    </div>
    <div>
        Jeśli chcesz przeczytać więcej o plikach cookies i zarządzać swoimi preferencjami, możesz to zrobić <a href="/cookie-policy">tutaj</a>.
    </div>
    <h2>Podstawy prawne</h2>
    <div>
      Dane osobowe przetwarzane są zgodnie z przepisami dotyczącymi ochrony danych osobowych i zgodnie z wdrożoną Polityką
      Prywatności w celu prawidłowej realizacji usług świadczonych przez LearninGO, a przetwarzanie nie narusza praw i wolności
      osoby, której dane dotyczą.
    </div>
    <h2>Bezpieczeństwo Twoich danych</h2>
    <div>
      Wdrożyliśmy pseudonimizację i szyfrowanie danych, dzięki czemu minimalizujemy skutki ewentualnego naruszenia bezpieczeństwa.
    </div>
    <div>
      Masz pełen dostęp do swoich danych oraz prawo do ich zmiany lub usunięcia z platformy.
    </div>
    <h2>Zgoda na przetwarzanie danych</h2>
    <div>
        Korzystając z platformy LearninGO wyrażasz zgodę na przetwarzanie danych, które dobrowolnie nam przekazujesz.
    </div>
    <a class="back-to-home" [appEventTracker]='{"category":"Login","action":"BackButton"}' routerLink="/">Wróć do strony głównej</a>
  </div>