<div class="container-content">
  <h1>Dziękujemy Ci za wybranie LearninGO!</h1>
  <div>
      Pamiętaj, że wybierając naszą platformę zgadzasz się na nasze warunki korzystania z aplikacji opisane
      poniżej. Jeśli nie zgadzasz się z tymi warunkami lub z innego powodu nie akceptujesz ich, pozbawiasz się
      prawa do korzystania z platformy LearninGO. 
  </div>
  <h1>Warunki korzystania z aplikacji</h1>
  <h2>Zmiany warunków</h2>
  <div>
      Mamy prawo wprowadzać zmiany w poniższych zapisach. Jest to niezbędne dla naszego dynamicznego rozwoju.
      Jeśli zmiany te wydadzą nam się istotne, poinformujemy Cię o tym krótką informacją na stronie głównej.
      O niewielkich zmianach możesz zawsze dowiedzieć się z poniższego dokumentu. Użytkowanie platformy po
      wejściu w życie zmian w warunkach oznacza ich akceptację.
  </div>
  <h2>Treści zamieszczone</h2>
  <div>
      Wszystkie materiały zawarte na platformie LearninGO są naszą własnością lub pochodzą z legalnych źródeł 
      Opensource lub zostały opublikowane przez innych użytkowników. Możesz używać i zamieszczać informacje na 
      LearninGO, jednak nie masz prawa do rozpowszechniania treści pochodzących z platformy poza nią. Wszystkie 
      treści zamieszczone przez Autorów platformy objęte są prawami autorskimi.
  </div>
  <div>
      Treści, jakie publikujesz na platformie LearninGO mogą być na niej kopiowane i rozpowszechniane przez nas
      oraz Użytkowników. Jednocześnie zapewniamy, że nie użyjemy ich poza platformą, jednak nie ponosimy
      odpowiedzialności za działania innych użytkowników niezgodne z prawem.
  </div>
  <h2>Korzystanie z platformy</h2>
  <div>
      Przedstawiamy tutaj podstawowe zasady, jakich powinien przestrzegać Użytkownik LearninGO. Zabronione jest:
      <ul>
        <li>kopiowanie i rozpowszechnianie materiałów pochodzących z platformy poza nią,</li>
        <li>zamieszczanie treści wulgarnych bądź obraźliwych,</li>
        <li>łamania praw autorskich m. in. zamieszczając treści, do których Użytkownik nie posiada prawa,</li>
        <li>udostępniania swojego hasła osobom trzecim</li>
        <li>czerpania zysków bezpośrednio z zamieszczanych na platformie treści.</li>
      </ul>
      Zastrzegamy sobie prawo do blokowania kont użytkowników nie przestrzegających powyższych zasad użytkowania 
      platformy.
  </div>
  <div>
      Wyrażamy nadzieję, że razem z nami będziesz budował przyjazne środowisko do nauki i przestrzegał internetowego
      savoir-vivre'u.
  </div>
  <h2>Korzystanie z platformy przez małoletnich</h2>
  <div>
      Niepełnoletni użytkownicy platformy powinni zapoznać się z naszymi warunkami w obecności rodziców. Zalecamy 
      rodzicom, aby kontrolowali aktywność internetową swoich dzieci. Wpływa to na bezpieczeństwo małoletnich. 
      Również ważna jest świadomość poufności danych logowania. Obowiązek ochrony hasła małoletniego spoczywa na 
      jego rodzicach. Rodzic ponosi całkowitą odpowiedzialność za działania małoletniego na platformie LearninGO.
  </div>
  <h2>Odpowiedzialność i gwarancja</h2>
  <div>
      Autorzy platformy nie ponoszą odpowiedzialności za błędy i nieścisłości treści zamieszczonych na platformie.
      Dokładamy wszelkich starań, aby treści były jak najbardziej poprawne. Należy jednak pamiętać, że produkt ten 
      owstał aby wspierać naukę i nie służy jako podstawowe źródło pozyskiwania wiedzy.
  </div>
</div>